
    <div id="gameboard" data-ng-click="turn()">
      <div id="row1" class="rw tr">
        <div id="cell1" class="cll lt {{gameBoard[0]}}" data-ng-click="handleClick(0)">{{gameBoard[0]}}</div>
        <div id="cell2" class="cll ct {{gameBoard[1]}}" data-ng-click="handleClick(1)">{{gameBoard[1]}}</div>
        <div id="cell3" class="cll rt {{gameBoard[2]}}" data-ng-click="handleClick(2)">{{gameBoard[2]}}</div>
      </div>
      <div id="row2" class="rw mr">
        <div id="cell4" class="cll lm {{gameBoard[3]}}" data-ng-click="handleClick(3)">{{gameBoard[3]}}</div>
        <div id="cell5" class="cll cm {{gameBoard[4]}}" data-ng-click="handleClick(4)">{{gameBoard[4]}}</div>
        <div id="cell6" class="cll rm {{gameBoard[5]}}" data-ng-click="handleClick(5)">{{gameBoard[5]}}</div>
      </div>
      <div id="row3" class="rw br">
        <div id="cell7" class="cll lb {{gameBoard[6]}}" data-ng-click="handleClick(6)">{{gameBoard[6]}}</div>
        <div id="cell8" class="cll cb {{gameBoard[7]}}" data-ng-click="handleClick(7)">{{gameBoard[7]}}</div>
        <div id="cell9" class="cll rb {{gameBoard[8]}}" data-ng-click="handleClick(8)">{{gameBoard[8]}}</div>
      </div>
    </div>

<h1 data-ng-show="endGame"><span class="{{mark | lowercase}}">{{mark | uppercase}}</span><span class="tickety"> You</span><span class="tackety">Won!</span></h1>
<div id="play-btn"><a  href="#/waiting" class="large button success" data-ng-show="endGame">Play Again?!</a></div>
<div id="play-btn"><a data-ng-click="addWin()" class="large button success" data-ng-show="endGame">Save Win?</a></div>